<div
  style="display: flex; justify-content: end; padding-right: 2%; margin-top: 2%"
>
<fa-icon *ngIf="isLogin" [icon]="plus" [routerLink]="'/add-driver'" class="icon"></fa-icon>
</div>

<div class="container">
  <div class="driversList" *ngIf="drivers.length > 0">
    <div
      class="driverContainer"
      *ngFor="let driver of drivers"
      [routerLink]="['/Driver', driver.id]"
    >
      <div class="team">
        <div class="name-div">
          <p class="name">{{ driver.name }}</p>
          <p class="surname">{{ driver.surname }}</p>
        </div>
        <div>
          <p style="color: red; font-size: 17px">Points: {{ driver.points }}</p>
          <img [src]="'assets/' + driver.team.teamPhoto" class="team-logo" />
        </div>
      </div>
      <img [src]="'assets' + driver.driverPhoto" class="image" />
    </div>
  </div>
  <div *ngIf="drivers.length === 0">
    <p>Loading...</p>
  </div>
</div>
