<div class="container">
    <div class="driversList" *ngIf="drivers.length > 0">
        <div class="driverContainer" *ngFor="let driver of drivers" [routerLink]="['/Driver', driver.id]">
          <div class="team"> 
              <div class="name-div">
                <p>{{ driver.name }} </p> 
                <h3>{{ driver.surname }}</h3>
              </div>
                  <img [src]="'assets/' + driver.team.teamPhoto" class="team-logo">

              </div>              
              <img [src]="'assets' + driver.driverPhoto" class="image">         
        </div>      
    </div>
    <div *ngIf="drivers.length === 0">
      <p>Loading...</p>
    </div>
</div>
