<div class="body">
    <div class="container">
        <div class="info">
            <div class="image-container">
                <img [src]="'assets' + gp.gpPhoto" class="image">
                <div class="text-overlay">
                    <p>Circuit Map</p>
                </div>
            </div>
            
            <div class="box">
                <h1>{{gp.name}}</h1>
                <div class="stats">
                    <div class="grid-item">
                        <p>Date</p>
                        <p class="text">{{gp.date}}</p>
                    </div>
                    <div class="grid-item">
                        <p>Number of Laps</p>
                        <p class="text">{{gp.laps}}</p>
                    </div>
                    <div class="grid-item">
                        <p>Circuit Length</p>
                        <p class="text">{{gp.length}} km</p>
                    </div>
                    <div class="grid-item">
                        <p>Race Distance</p>
                        <p class="text">{{gp.distance}} km</p>
                    </div>
                </div>
                <div class="race-results" *ngIf="raceResults && raceResults.length > 0">
                    <h2>Race Results</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Name</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let result of raceResults">
                                <td>{{ result.position }}</td>
                                <td>{{ result.driver.name }} {{ result.driver.surname }}</td>                                
                                <td>{{ result.points }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button (click)="openAddResultsModal()">Add Results</button>
    </div>
</div>
