.body{
    display:flex;
    justify-content: center;
    padding-top: 3%;
}
.container{
    width:75%;
}

.image{
    height:auto;
    width:auto;
    max-height: 100%;;
    max-width: 100%;
    border: solid;
    border-radius: 5%;
    background-color: rgb(21,21,29);
}
.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0); 
    padding-top:3%;
}

.text-overlay p {
    color: white;
    font-size: 30px;
    margin: 0;
}

.info{
    display:flex;
    flex-direction: row;
}

.box{
    padding-left: 5%;

}
.stats{
    display:grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto; 
    column-gap: 7%;
    row-gap: 20%; 
}
.grid-item {    
    border-bottom:solid;
    border-right:solid;
    border-width:2px;
    border-bottom-right-radius: 10px;
    display:flex;
    flex-direction: column;
    border-color: red;
  }
.grid-item p{
    font-size:15px;
    margin:0;
    padding:0;
    
}

.text{
    font-size:30px !important;
    font-weight: bold !important;
}

.race-results{
    padding-top:5%;
}
.race-results table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .race-results th, .race-results td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .race-results th {
    background-color: #f2f2f2;
    text-align: center; 
  }
  
  .race-results tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .race-results th:first-child, .race-results td:first-child,
  .race-results th:last-child, .race-results td:last-child {
    width: 15%;
  }
  
  .dialog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    }