.body{
    display:flex;
    justify-content: center;
}
.container{
    width:75%;
}

.info{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.image{
    width:500px;
}

.team-logo{
    height:auto;
    width:auto;
    max-width: 200px;
    max-height: 200px;
}

.informations{
    display:flex;
    flex-direction: column;
    padding:2%;
}

.stats{
    display:flex;  
    width:auto; 
}

.text{
    margin-right: 1%;
    padding-left: 8px;
    padding-bottom: 8px;
    border-bottom: solid;
    border-left: solid;
    border-width: 2px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    border-color: red;
    font-weight: bold;
}

.charts{
    margin-left: 10%;
}

.settings {
    margin-right: 3%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .settings:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.15) !important;
  }
