<div class="body">
    <div class="container">
      <div class="info">
          <img [src]="'assets' + driver.driverPhoto" class="image">
          <div class="informations"> 
            <div style="display: flex; flex-direction: row;">
              <h1 style="margin-right: 10%;padding-left: 5%;">{{driver.number}}</h1>           
              <img [src]="'assets/' + driver.team.teamPhoto" class="team-logo">
            </div>           
            <p>Team: {{driver.team.name}}</p>
            <p>Age: {{ driver.age }}</p>
          </div>          
      </div> 
      <h1> {{driver.name}} {{ driver.surname }}</h1>       
      <p> {{ driver.driverHistory }}</p>
    </div>
</div>