.container{
    width:100%;
    background-color: rgb(222, 222, 223);
    display: flex;
    justify-content: space-between;
}

.mid-nav{
    width:35%;  
    display:flex;
    justify-content: space-between;
}