<div class="container">
    <div class="left-nav">
        <img [src]="'assets/F1.svg.png'" [routerLink]="'/'" class="image">
    </div>
    <div class="mid-nav">
        <a [routerLink]="'/Drivers'" [routerLinkActive]="'active'">Drivers</a>
        <a [routerLink]="'/Teams'" [routerLinkActive]="'active'">Teams</a>
        <a [routerLink]="'/GrandPrixes'" [routerLinkActive]="'active'">GrandPrix</a>
    </div>
    <div class="right-nav"> 
        <ng-container *ngIf="authService.isLoggedIn(); else loggedOut">
            <a (click)="logout()">Logout</a>
        </ng-container>
        <ng-template #loggedOut>            
            <a routerLink="/Login">Login</a>
        </ng-template>
    </div>
</div>
