<div class="container">
    <div class="left-nav">
        <img [src]="'assets/F1.svg.png'" [routerLink]="'/Home'" class="image">
    </div>
    <div class="mid-nav">
        <a [routerLink]="'/Drivers'" [routerLinkActive]="'active'">Drivers</a>
        <a [routerLink]="'/Teams'" [routerLinkActive]="'active'">Teams</a>
        <a [routerLink]="'/GrandPrix'" [routerLinkActive]="'active'">GrandPrix</a>
    </div>
    <div class="right-nav"> 
        <a routerLink="/GrandPrix">Login</a>
    </div>
</div>
