.container {
    width: 100%;
    background-color: rgb(21,21,29);    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.left-nav{
    padding-left:1%;
    flex:1;
    display:flex;
}
.right-nav {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1%;
}

.image {
    width: 100%;
    max-width: 100px;
    cursor:Pointer;
}

.mid-nav {
    flex: 1.5; /* Srodkowa część będzie trzy razy szersza od bocznych */
    display: flex;
    justify-content: space-around; /* Odstępy między elementami w środkowej części */
    align-items: center;
}

.mid-nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.mid-nav a:hover {
    color: red;
}

.right-nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.right-nav a:hover {
    color: red;
}


.active{
    font-size:25px !important;
    color: red !important;
}