.container{
    width:100%;
    height:100%;
    justify-content: center;
    display: flex;
    padding-top: 3%;
    
}

.gpsList{
    width:70%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 5%;
    row-gap: 3%;
    margin-bottom: 200px;
}
.title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.name{
    font-size:25px !important;
    font-weight: bold;
    margin:0;
    padding:0;
}

.round{
    font-size:17px !important;
    color:red;
    margin:0;
    padding:0;
}

.gpContainer{    
    
    max-width:300px;
    max-height: 600px;
    margin-top: 3%;
    padding: 3% 3% 3% 3%;
    /* background-color: rgb(222, 222, 223); */
    border-left: solid;
    border-bottom: solid;
    border-width: 4px;
    border-bottom-left-radius: 20px;
    transition: transform 0.3s;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-color:rgb(21,21,29); 
}
.gpContainer:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.gpContainer p{
    font-size: 22px;
}

.image{
    height:auto;
    width:auto;
    max-height: 100%;;
    max-width: 100%;
    border:solid;
    border-radius: 10%;
    border-color:red;
}
